@import "./../../styles//global.module.scss";

.wrapper_with_modal {
	display: flex;
	flex-direction: column;

	.modal {
		position: relative;
		margin-top: -1550px;
		margin-left: 50%;

		@include respond-to(tablet) {
			margin-left: 47%;
		}
	}
}

.wrapper {
	background-color: white;

	.please_contact_us {
		margin-top: 300px;
		margin-left: 50px;
		max-width: 617px;
		height: 371px;

		@include respond-to(tablet) {
			margin-left: 30px;
			max-width: 487px;
		}

		.title {
			font-weight: 400;
			font-size: 46px;
			line-height: 64px;
		}

		.text {
			font-weight: 200;
			font-size: 16px;
			line-height: 32px;
		}

		.info_block {
			padding: 31px 136px 40px 42px;
			background-color: white;
			filter: drop-shadow(0px 4px 4px $box_shadow_black);
			justify-content: center;
			align-items: center;

			.item {
				display: flex;
				flex-direction: row;
				align-items: center;
				margin-bottom: 16px;

				.icon {
					height: 30px;
					width: 24px;
					margin-right: 30px;
				}

				.text {
					font-weight: 400;
					font-size: 18px;
					line-height: 32px;
				}
			}

			.item:nth-child(odd) {
				text-decoration: underline;
			}
		}
		.green_line {
			width: 100%;
			height: 6px;
			background: $green;
		}
	}

	.image {
		position: relative;
		width: 40%;
		height: 936px;
		float: right;
		top: -694px;
	}
}
