.overlay {
	z-index: 1000;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(19, 18, 20, 0.9);
}

.body {
	z-index: 1001;
	display: flex;
	flex-direction: column;
	align-items: center;
}
