.wrapper {
  width: 475px;
  height: 60px;
  background: #eeeeee;
  border-radius: 5px;
  padding: 0 4px 0 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;

  .list {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .item {
      border: none;
      background-color: #eeeeee;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 33.3%;
      height: 50px;
      cursor: pointer;
    }

    .item_clicked {
      @extend .item;
      background: white;
      box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.107654);
      border-radius: 5px;
      height: 50px;
    }
  }
}
