@import "./../../styles//global.module.scss";

.carousel {
	font-size: 25px;
	width: 300px;
	background: $green;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2px 10px 2px 10px;

	@include respond-to(mobile) {
		width: 100%;
		font-size: 30px;
	}
}

.arrow {
	justify-content: center;
	align-items: center;
	border: 1.5px solid white;
	padding: 2px 6px 2px 6px;
	margin: 10px;
	height: 28px;
	width: 30px;
	cursor: pointer;
}

.arrow_right {
	@extend .arrow;
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}

.full {
	@extend .arrow;
	border: none;

	@include respond-to(mobile) {
		display: none;
	}
}
