@import "./../../styles//global.module.scss";

.wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

	@include respond-to(mobile) {
		height: 1000px;
	}

	.content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 470px;

		.title {
			font-family: "Chivo";
			font-size: 46px;
			line-height: 64px;
		}

		.body {
			font-weight: 200;
			font-size: 18px;
			line-height: 32px;
			color: $custom_black;
		}

		.button_icons {
			margin-top: 60px;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;

			.icon {
				margin-left: 25px;
			}
		}
	}
}
