@import './../../styles/global.module.scss';

.wrapper {
  height: 221px;
  background: $dark_grey;
  padding: 70px 160px 25px 70px;
  justify-content: center;

  .logo_nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .bottom {
    @extend .logo_nav;
    margin-top: 140px;

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      letter-spacing: 0.05em;
      color: #ffffff;
      opacity: 0.3;
    }

    .socials {
      .icon {
        margin-left: 25px;
      }
    }
  }
}
