@import './../../styles//global.module.scss';

.wrapper {
  padding-top: 50px;
  margin-top: 92px;
  height: 764.04px;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  background: linear-gradient(
    to bottom,
    $dark_grey 0%,
    $dark_grey 356px,
    white 0%,
    white 400px
  );

  .title {
    font-weight: 200;
    font-size: 40px;
    line-height: 54px;
    text-align: center;
    text-transform: uppercase;
  }

  .list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;

    @include respond-to(mobile) {
      padding: 10px 20px 10px 20px;
      gap: 10px;
    }
  }

  .carousel {
    margin-top: 20px;
    font-size: 28px;
    position: relative;
    z-index: 200;
    color: white;
    display: flex;
    align-items: center;
    padding: 2px 10px 2px 10px;
    color: black;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    @include respond-to(tablet) {
      font-size: 35px;
    }

    @include respond-to(mobile) {
      font-size: 35px;
    }
  }

  .arrow {
    filter: invert(100%) sepia(79%) saturate(2476%) hue-rotate(86deg)
      brightness(118%) contrast(119%);
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    color: black;
    padding: 2px 6px 2px 6px;
    margin: 10px;
    height: 25px;
    width: 27px;
    cursor: pointer;

    @include respond-to(tablet) {
      height: 35px;
      width: 37px;
    }

    @include respond-to(mobile) {
      height: 35px;
      width: 37px;
    }
  }

  .arrow_right {
    @extend .arrow;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
}
