@import './styles/global.module.scss';

.app {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 50% 50%;

  @include respond-to(mobile) {
    grid-template-columns: none;
  }

  .image {
    height: 900px;
    width: 100%;
  }

  .portfolio {
    grid-column: span 2;

    @include respond-to(mobile) {
      grid-column: auto;
    }
  }

  .testimonials {
    @extend .portfolio;
  }

  .feedbackform {
    @extend .portfolio;
    height: 1000px;
  }

  .subscribe {
    @extend .portfolio;

    @include respond-to(mobile) {
      margin-top: 1000px;
    }
  }

  .footer {
    @extend .portfolio;
    height: 221px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

html {
  scroll-behavior: smooth;
}
